### VisualStudioCode ###
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Ignore root file JS 
juego.js

### VisualStudioCode Patch ###
# Ignore all local history of files
.history